 /* font  */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* head section */
header{
    height: 100vh;
    background-color: rgba(78, 71, 255, 0.01);
    background-image: url(/Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 120px;
}

/* nav items */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 155px 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
nav h1{
    font-weight: 900;
    font-size: 34px;
}

/* banner section */
.banner{
    text-align: center;
    margin: 0px 267px 155px 267px;
}
.banner h1{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    margin-bottom: 40px;
}

/* shared styles */
.primary-color{
    color: #4E47FF;
}
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover{
    background-color:green;
}

.btn-primary a{
    text-decoration: none;
    color: #FFFFFF;
}

/* main section */
/* container-1 */
.container-1{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0px 150px 120px 150px;
     gap: 220px;

}
.container-preview{
    padding: 62.5px 0px;
}
.container-preview h1{
    font-weight: bold;
    font-size: 42px;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 23px;
}
.container-preview p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}
.container-img img{
    border-radius: 48px;
}

/* container-2 */
.container-2{
    text-align: center;
    padding: 50px 145px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 150px 140px 150px;
    border-radius: 24px;
}
.container-title{
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 40px;
}

.container-info{
    display: flex;
    justify-content: center;
    gap: 158px;
}
.info h1{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin: 0;
    padding: 0px 9px;
}
.info p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
